
frontend/node_modules
frontend/dist
frontend/.vite

# =========================
# Backend
# =========================
backend/venv
backend/tickets.db
# =========================
# Environment Variables
# =========================
.env
frontend/.env
backend/.env
__pycache__/
*.pyc
# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode

# =========================
# Logs
# =========================
*.log